@model IEnumerable<VerzamelingFinished.Models.Card>


@{
    ViewData["Title"] = "Home Page";
}

Explore and manage your Pokémon card collection with ease! Here’s what you can do with the app:
<br />
<br />

<b> Browse Your Collection: </b> View all your cards neatly organized by attributes like name, element, price, and quantity. Quickly find your favorites or check out new additions! <br />

<b>Manage Decks: </b>  Create, edit, and customize decks with your favorite Pokémon cards. Add and remove cards from different decks without affecting others.
<br />

<b>Sort and Search:</b> Need to find cards based on specific characteristics? Sort cards by elements, price, or quantity to make browsing effortless.
<br />

<b>Detailed Views:</b> Dive into the details of each card, from images to stats, and everything that makes each Pokémon special!
<br />

<b> Image Search: </b> Find out how your favourite pokemon looks by typing in their name!





<a asp-action="Logout" asp-controller="Account">Logout</a>
